@font-face {
    font-family: poppinsRegular;
    src: url(../../public/fonts/poppins/Poppins-Regular.ttf);
  }
  
  @font-face {
    font-family: poppinsLight;
    src: url(../../public/fonts/poppins/Poppins-Light.ttf);
  }
  
  @font-face {
    font-family: poppinsBold;
    src: url(../../public/fonts/poppins/Poppins-Medium.ttf);
  }
  
  body {
    font-family: poppinsRegular;
  }

  