.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.upper_container {
  text-align: center;
  padding: 15px 0px;
}

.upper_container .emoji {
  font-size: 40px;
  margin: 0px;
}

.upper_container h1 {
  font-size: 19px;
  margin: 5px;
}

.upper_container h2 {
  font-size: 16px;
  font-family: poppinsLight;
  margin: 5px;
}

.loading {
  font-size: 20px;
  text-align: center;
  color: #0277BD;
}

.error {
  font-size: 20px;
  text-align: center;
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
